/* font options:
cardo regular and bold
nunito 300


color palette: 
baby pink #EEC3C3
linen #F6ECE3
bittersweet shimmer (darker pink) #B85D5D
charcoal #404E5C
rich black #111518
taupe #8A5A5A
Hover color #f12db7 
*/



h1 {
    color:#A54A4A;
    text-align:center;
    text-transform:uppercase;
    font-family:'Cardo',serif;
    font-size:40px;
}

h2 {
    size:14px;
    color:#B85D5D;
    font-family:'Nunito',sans-serif;
    font-size:30px;
}

.nav-item,
.nav-link {
    text-transform:uppercase;
    color:#404E5C;
    size:25px;
    padding-bottom:10px;
    font-family:'Nunito',sans-serif;

}

head {
    padding:30px;
}

img {
    display:inline-block;
    border:8px solid #B85D5D;
    border-radius:2px;
}

body {
    padding:32px;
    background-color: #E6C6C4;
    font-family: 'Cardo', serif;
}

main {
    font-family:'Cardo', serif;
    font-size:20px;
    
}

a:hover,
.nav-link:hover{
    color:#f12db7;
}

.row{
    padding:28px;
}

.col-md-9{
    font-family:'Cardo', serif;
    font-size:18px;
}

h4 {
    color:#111518;
}
h5 {
    color:#8A5A5A;
    font-family:'Nunito',sans-serif;
}

.btn {
    background-color: #8A5A5A;
    border: none;
    color: #F6ECE3;
    padding: 12px;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #f12db7;
  }

.card-title {
    font-family:'Cardo',serif;
    color:#404E5C;
}

.card-text {
    font-family:'Nunito',sans-serif;
    color:#8A5A5A;
}

/*h3 {
    color:#9c5161;
    font-family:'Nunito', serif;
    font-size:20px;
}*/