/* font options:
cardo regular and bold
nunito 300


color palette: 
baby pink #EEC3C3
linen #F6ECE3
bittersweet shimmer (darker pink) #B85D5D
charcoal #404E5C
rich black #111518
*/



h1 {
    color:#A54A4A;
    text-align:center;
    text-transform:uppercase;
    font-family:'Cardo',serif;
    font-size:40px;
}

h2 {
    size:14px;
    color:#B85D5D;
    font-family:'Nunito',sans-serif;
    font-size:30px;
}

.nav-item,
.nav-link {
    text-transform:uppercase;
    color:#404E5C;
    size:25px;
    padding-bottom:10px;
    font-family:'Nunito',sans-serif;

}

head {
    padding:30px;
}

img {
    display:inline-block;
    border:8px solid #B85D5D;
    border-radius:2px;
}

body {
    padding:32px;
    background-color: #E6C6C4;
    font-family: 'Cardo', serif;
}

main {
    font-family:'Cardo', serif;
    font-size:20px;
    
}

a:hover,
.nav-link:hover{
    color:#F6ECE3;
}

.row{
    padding:28px;
}

.col-md-9{
    font-family:'Cardo', serif;
    font-size:18px;
}

/*h3 {
    color:#9c5161;
    font-family:'Nunito', serif;
    font-size:20px;
}*/